@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Playball');

h1{
	text-align: center;
	font-style: bold;
	font-family:'Playball', cursive;
	font-size: 46px;
}

body {
	text-align: left;
	color: #fff;
	background-image: url('http://www.altinsaglik.com/images/yazi/gmw6vxa42uDollarphotoclub_73687853.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family:'Arima Madurai', cursive;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}
div {
	font-style: italic;
	text-align: center;
}